*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


body{
    background-color: #FAFAFA;
    font-family:    Montserrat;
}
header{
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
h1{
    margin: 20px;
    font-size: 24px;
}
.w-80{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
ul{
    display: flex;
    list-style: none;
    margin-left: 50px;
}
li{
    margin-right: 15px;
    margin-top: 30px;
    font-size: 14px;
    
}
.nav{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #737373;
}
.auth{
    color: #96bb7c;
    margin-top: 20px;
    
}
.link{
    margin-left: 100px;
    text-decoration: none;
    color: #96BB7C;
    justify-content:space-around;
    font-size: 14px;
}
 button{
    color: #fff;
    background-color: #96BB7C;
    margin-left: 50px;
    padding: 10px 20px ;
    border-radius: 10px;
    border: none;
    
}
    